{% extends 'axf/base.html' %}
{% load static %}

{% block linkscript%}
    <link rel="stylesheet" type="text/css" href="{% static 'cart/css/cart.css' %}" />
    <script type="text/javascript" charset="utf-8" src="{% static 'cart/js/cart.js' %}" ></script>
{% endblock linkscript%}

{% block base %}
<div id="cart">
    <h3><b>购物车</b></h3>

    <section class="full">
		<section>
			<ul>
				<li>
                    <div class="clear">
                        <p class="infoJustify">收货人<b></b></p><p>:<span>Rock</span></p>
                    </div>
                </li>
				<li>
                    <div class="clear">
                        <p class="infoJustify">电话<b></b></p><p>:<span>110</span><a class="change">修改></a></p>
                    </div>
                </li>
				<li>
                    <div class="clear"><p class="infoJustify">收货地址<b></b></p><p>:<span>北京市海淀区天丰利商城</span></p>
                    </div>
                </li>
			</ul>


			<section class="bill">
				<p>闪送超市</p>
				<p>¥0起送,22:00前满¥30免运费</p>
				<a>凑单专区</a>
			</section>


			<section class="delivery">
				<span>收货时间</span> <span>一小时送达</span> <a>可预订></a>
			</section>
			<section class="delivery">
				<span>收货备注</span> <input type="text" placeholder="可输入100字以内特殊要求内容"/>
			</section>


            <menu>
				<ul>
                    {% for item in carts %}
                    <li cartid="{{ item.id }}" class="menuList">
                        <div class="confirm">
                            <span class="ischose" is_select="{{ item.ischoose }}">
                                <span>
                                {% if 1 == item.ischoose %}
                                √
                                {% endif %}
                                </span>
                            </span>
                        </div>
                        <a href="#">
                            <img src="{{item.goods.productimg}}"/>
                            <p>{{item.goods.productname}}</p>
                            <span id="{{item.goods.productid}}price" class="{{item.goods.price}}">{{item.goods.price}}</span>
                        </a>
                        <section>
                            <button class="subShopping"  ga="{{item.goods.id}}">-</button>
                            <span id="{{item.goods.id}}">{{item.cart_num}}</span>
                            <button class="addShopping"  ga="{{item.goods.id}}">+</button>
                        </section>
                    </li>
                    {% endfor %}

					<li class="payTheBill">
						<div id="selectall" class="confirm">
                            <span>
                                <span>
                                    {% if select_all_flag %}
                                    √
                                    {% endif %}
                                </span>
                            </span></div>
                        <p><span>全选</span><span>总价</span><span id="totalPrice">{{ totalPrice }}</span></p>
						<span id="ok">选好了</span>
					</li>
				</ul>
			</menu>
		</section>
	</section>
</div>

{% endblock base %}