{% extends 'axf/base.html' %}
{% load static from staticfiles %}
{% block linkscript%}
    <link rel="stylesheet" type="text/css" href="{% static 'mine/css/login.css' %}" />
    <script type="text/javascript" charset="utf-8" src="{% static 'mine/js/login.js' %}" ></script>
{% endblock linkscript%}


{% block base %}
<div id="login">
    <a href="{% url 'axf:mine' %}"><p>&lt;返回</p></a>
    <div id="box">
        <form action="{% url 'axf:login' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                账号：<input type="text" name="loginname"/>
                <br />

            </div>
            <div class="input-group">
                密码：<input type="password" name="loginpwd"/>
                <br />

            </div>
            <div>
                <input type="submit" value="登录"/>
            </div>
        </form>

    </div>
</div>
{% endblock base %}





